# Byte‐compiled / caches
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
env.bak/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# PyTorch checkpoints
*.pth
*.pt

# Training logs / outputs / checkpoints
logs/
checkpoints/
output/
*.log

# Data folders (if you download big data locally)
#data/
main/input_data/
main/output_data/

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.nox/

!third_party/NAFNet/
third_party/NAFNet/build/
third_party/NAFNet/dist/
third_party/NAFNet/*.egg-info/
third_party/NAFNet/**/*.so
third_party/NAFNet/.pytest_cache/